.chatList {
    flex: 1;
    overflow-y: scroll;

    .search {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;

        .searchBar {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 10px;
            padding: 10px;

            input {
                background-color: transparent;
                /* white wala finish krdia jo by default ata and upper background color de dia taky icon bhi saath huti andr */
                border: none;
                outline: none;
                color: white;
                flex: 1;
                /* flex 1 is lia ke input field adhi space le rha tha white wali white bg hata ke naya bg dia adhy py krte click hujata but dhekte kesa tw flex 1 krdia */
                font-size: 1.2rem;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        .add {
            width: 39px;
            height: 39px;
            background-color: rgba(17, 25, 40, 0.5);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    /* Items / Chats */
    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }
        }

    }
}