* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("../src/assets/images/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* ye na dety tw neeche wala container bech mein ata hi nahi is lia height 100vh is must */
  color: white;
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  /* Peeche wala part dhika hi na opacity low ki ha na upper. Most of the browser py nahi chalta */
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}



/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f8eeee;
  border-radius: 5px;
}

/* For Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0;
} */

/* Content area styles */
/*   */